{% extends "main.html"%}

{% block content %}
<div class="card">
    <form class="form-group card-body" method="post">{% csrf_token %}
        <legend>Enter city details here.<br>
        Use Ctrl+ in multi choice fields</legend>
        <div class="form-group">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="form-group">
            {{ form.description.errors }}
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <button id="submit" type="submit" value="submit" class="btn btn-dark center">Submit</button>
    </form>
</div>
{% endblock %}