{% extends "index.html"%}
{% block content %}
    <h1>{{ city.name }}</h1>
    <h2>{{ city.description }}</h2>

    <h2>Lista wystąpień miasta</h2>

        <h3>Miasto urodzeń</h3>
            <ul>
                {% for member in persons_birth %}
                    <li><a href="{% url 'person_detail' member.pk %}">{{ member.name }} {{ member.surname }}</a>,
                        Rodzina:
                        <ul>
                            {% for family in  member.family.all %}
                                <li><a href="{% url 'family_detail' family.pk %}">{{ family.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                   <li> Brak wystąpień </li>
                {% endfor %}
            </ul>

        <h3>Miasto zgonu</h3>
            <ul>
                {% for member in persons_death %}
                    <li><a href="{% url 'person_detail' member.pk %}">{{ member.name }} {{ member.surname }}</a>,
                        Rodzina:
                        <ul>
                            {% for family in  member.family.all %}
                                <li></li><a href="{% url 'family_detail' family.pk %}">{{ family.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% empty %}
                   <li> Brak wystąpień </li>
                {% endfor %}
            </ul>
    <a href="{% url 'modify_city' city.pk %}">Modyfikuj miasto</a> |
    <a href="{% url 'delete_city' city.pk %}">Usuń miasto</a>

{% endblock %}