{% extends "index.html"%}
{% block content %}
    <h1>{{ family.name }}</h1>
    <h2>Opis: {{ family.description }}</h2>

    <h2>Lista członków rodziny</h2>
    <ul>
        {% for person in persons %}
            <li><a href="{% url 'person_detail' person.pk %}">{{ person.name }} {{ person.surname }}</a></li>
        {% empty %}
           <li> Brak członków rodziny </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'create_person' %}">Dodaj członka rodziny</a></p>
    <a href="{% url 'modify_family' family.pk %}">Modyfikuj rodzinę</a> |
    <a href="{% url 'delete_family' family.pk %}">Usuń rodzinę</a>

{% endblock %}