{% extends "main.html"%}
{% block content %}
    <a href="{% url 'modify_family' family.pk %}">Modyfikuj rodzinę</a> |
    <a href="{% url 'delete_family' family.pk %}">Usuń rodzinę</a> |
    <a href="{% url 'create_person' %}">Dodaj członka rodziny</a>
    <h2>{{ family.name }}</h2>
    <p><b>Opis:</b> {{ family.description }}</p>
    <h5>Senior rodu: <b>{{ family.senior }}</b></h5>
    <h5>Lista członków rodziny</h5>
    <ul>
        {% for person in persons %}
            <li><a href="{% url 'person_detail' person.pk %}">{{ person.name }} {{ person.surname }}</a></li>
        {% empty %}
           <li> Brak członków rodziny </li>
        {% endfor %}
    </ul>
    <p><b>Autor: {{ family.author.username }}, email: {{ family.author.email }}</b></p>
{% endblock %}