{% extends "index.html" %}

{% block content %}
    <h1>{{ title }}</h1>


    <ul class="family_list">
        {% for family in object_list %}
            <li>
                <h2><a href="{% url 'family_detail' family.pk %}"><b>{{ family.name }}</b></a></h2>
                <h3><b>Opis:</b> {{ family.description }}</h3>
            </li>
        {% empty %}
            <li>Nie jesteś przypisany do żadnej z rodzin</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'create_family' %}">Dodaj rodzinę</a></p>

{% endblock %}