<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/test/base.css" %}">
</head>

<body>

<div id="footer">
    {% if user.is_authenticated %}
        <p align="left">
            <a href="{% url 'logout' %}">Logout</a> |
            <a href="{% url 'user_mod' %}"><b>{{ user.username }}</b></a>
        </p>
    {% else %}
        <p align="left">
            <a href="{% url 'user_add' %}">Register</a> |
            <a href="{% url 'login' %}">Login</a>
        </p>
    {% endif %}
</div>

<h1>
    {% block title_content %}

    {% endblock %}
</h1>

<div id="left_panel">
    {% block left_menu %}

    {% endblock %}
</div>


<div id="content">
    {% block content %}

    {% endblock %}
</div>

</body>
</html>