{% extends "main.html" %}

{% block content %}
    <h2>Lista osób stworzonych przez użytkownika</h2>
    <p><a href="{% url 'create_person' %}">Dodaj osobę</a></p>
    <ul>
        {% for person in object_list %}
            <li>
                <h2><a href="{% url 'person_detail' person.id %}">
                    {{ person.name }} {{ person.surname }}</a></h2>
                    <h3>Opis: {{ person.description }}</h3></li>
        {% empty %}
            <li>Brak osób stworzonych przez użykownika</li>
        {% endfor %}
    </ul>

{% endblock %}