{% extends "main.html" %}

{% block content %}
    <h2>Lista osób w rodzinach</h2>
    <p><a href="{% url 'create_person' %}">Dodaj osobę</a></p>
    <ul>
        {% for family in object_list %}
            <li><h5><a href="{% url 'family_detail' family.pk %}"> {{ family.name }} </a></h5>
                 <ul class="persons_list">
                    {% for person in family.persons_set.all %}
                        <li>
                            <a href="{% url 'person_detail' person.id %}">
                                {{ person.name }} {{ person.surname }}</a>
                            <br><b>Opis: </b>{{ person.description }}</br></li>
                    {% empty %}
                        <li>Brak osób przypisanych do rodziny</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>   
{% endblock %}