{% extends "main.html"%}
{% block content %}

    <h2>{{ person.name }} {{ person.surname }}</h2>
    <p><b>Opis:</b> {{ person.description }}</p>

    <h5><b>Informacje szczegółowe</b></h5>
        <ul>
            <li><b>Urodzony/a {{ person.birth_date|date:'j E Y' }} w {{ person.birth_city }}</b></li>
            {% if person.living %}
            <li><b>Zmarł/a {{ person.death_date }} w {{ person.death_city }}</b></li>
            {% endif %}
            <li>Rodzice:
                <ul>
                    {% for parent in person.parents.all %}
                        <li><a href="{% url 'person_detail' parent.pk %}">{{ parent.name }} {{ parent.surname }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>Rodzeństwo:
                <ul>
                    {% for sibling in person.siblings.all %}
                        <li><a href="{% url 'person_detail' sibling.pk %}">{{ sibling.name }} {{ sibling.surname }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>Partnerzy życiowi:
                <ul>
                    {% if person.spouses.all %}
                        {% for spouse in person.spouses.all %}
                            <li><a href="{% url 'person_detail' spouse.pk %}">{{ spouse.name }} {{ spouse.surname }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% for spouse in person.spouses_set.all %}
                            <li><a href="{% url 'person_detail' spouse.pk %}">{{ spouse.name }} {{ spouse.surname }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <li>Dzieci:
                <ul>
                    {% for child in person.children.all %}
                        <li><a href="{% url 'person_detail' child.pk %}">{{ child.name }} {{ child.surname }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>{{ person.get_deceased_display }}</li>
            <li><b>Autor: {{ person.author.username }}, email: {{ person.author.email }}</b></li>
        </ul>

        <a href="{% url 'modify_person' person.pk %}">Modyfikuj osobę</a>
    | <a href="{% url 'delete_person' person.pk %}">Usuń osobę</a>
{% endblock %}