<ul class="sitemap">
    <li><a href="/person/7"> Tytos Lannister</a>
        <ul>
            <li><a href="/person/9"> Tywin Lannister</a>
                <ul>
                    <li><a href="/person/13"> Cersei Lanister</a></li>
                    <li><a href="/person/14"> Jaime Lannister</a></li>
                    <li><a href="/person/17"> Tyrion Lannister</a></li>
                </ul>
            </li>
            <li><a href="/person/12"> Kevan Lannister</a>
                <ul>
                    <li><a href="/person/19"> Martyn Lannister</a></li>
                </ul>
            <li><a href="/person/20"> Willem Lannister</a></li>
            <li><a href="/person/21"> Lancel Lannister</a></li>
        </ul>
    </li>
</ul>
</li>
</ul>
</div>