

#left_panel {
    width: 20%;
    position:fixed;
    left: 0;
}

/*lista magiczna*/

ul.tree_map{
    font-size: 14px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

ul.tree_map ul {
    padding: 0em;
}

ul.tree_map li, ul.tree_map li ul li {
    position:relative;
    top:0;
    bottom:0;
    padding-bottom: 7px;

}

ul.tree_map li ul {
    margin-left: 4em;
}

ul.tree_map li {
    list-style-type: none;
}

ul.tree_map li a {
    padding:0 0 0 10px;
    position: relative;
    top:1em;
}

ul.tree_map li a:hover {
    text-decoration: none;
}

ul.tree_map a.addBorderBefore:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 28px;
    position: absolute;
    left: -47px;
    top:-16px;
    border-left: 1px solid gray;
}

ul.tree_map li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 0;
    position: relative;
    left: 0em;
    top:1em;
    border-top: 1px solid gray;
}

